<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap5 -->
    <link rel="stylesheet" href="assets/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- manrop fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!--evo calendar  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.3/evo-calendar/css/evo-calendar.min.css">
    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Blushed</title>
</head>

<body>
    <div class="dashboard-frame">
        <aside class="sidebar">
            <div class="side-logo">
                <img src="assets/images/blushed.png" alt="" class="">
            </div>
            <div class="side-nav">
                <ul class="ms-0 ps-0">
                    <li><a href="index.html">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 13H11V3H3V13ZM3 21H11V15H3V21ZM13 21H21V11H13V21ZM13 3V9H21V3H13Z" />
                            </svg>

                            Dashboard</a>
                    </li>

                    <li><a href="team.html">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.5 12C17.88 12 18.99 10.88 18.99 9.5C18.99 8.12 17.88 7 16.5 7C15.12 7 14 8.12 14 9.5C14 10.88 15.12 12 16.5 12ZM9 11C10.66 11 11.99 9.66 11.99 8C11.99 6.34 10.66 5 9 5C7.34 5 6 6.34 6 8C6 9.66 7.34 11 9 11ZM16.5 14C14.67 14 11 14.92 11 16.75V19H22V16.75C22 14.92 18.33 14 16.5 14ZM9 13C6.67 13 2 14.17 2 16.5V19H9V16.75C9 15.9 9.33 14.41 11.37 13.28C10.5 13.1 9.66 13 9 13Z" />
                            </svg>

                            Team
                        </a>
                    </li>

                    <li>
                        <a href="recap.html">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M17.65 6.35C16.2 4.9 14.21 4 12 4C7.58001 4 4.01001 7.58 4.01001 12C4.01001 16.42 7.58001 20 12 20C15.73 20 18.84 17.45 19.73 14H17.65C16.83 16.33 14.61 18 12 18C8.69001 18 6.00001 15.31 6.00001 12C6.00001 8.69 8.69001 6 12 6C13.66 6 15.14 6.69 16.22 7.78L13 11H20V4L17.65 6.35Z" />
                            </svg>


                            Recap
                        </a>
                    </li>

                    <li class="active-side">
                        <a href="pay.html">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20 4H4C2.89 4 2.01 4.89 2.01 6L2 18C2 19.11 2.89 20 4 20H20C21.11 20 22 19.11 22 18V6C22 4.89 21.11 4 20 4ZM20 18H4V12H20V18ZM20 8H4V6H20V8Z" />
                            </svg>

                            Pay
                        </a>
                    </li>

                    <li>
                        <a href="shift.html">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z" />
                                <path d="M12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z" />
                            </svg>

                            Shifts/Schedule
                        </a>
                    </li>
                    <li>
                        <a href="onboard.html">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19 3H14.82C14.4 1.84 13.3 1 12 1C10.7 1 9.6 1.84 9.18 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM12 3C12.55 3 13 3.45 13 4C13 4.55 12.55 5 12 5C11.45 5 11 4.55 11 4C11 3.45 11.45 3 12 3ZM12 7C13.66 7 15 8.34 15 10C15 11.66 13.66 13 12 13C10.34 13 9 11.66 9 10C9 8.34 10.34 7 12 7ZM18 19H6V17.6C6 15.6 10 14.5 12 14.5C14 14.5 18 15.6 18 17.6V19Z" />
                            </svg>

                            Onboarding
                        </a>
                    </li>

                    <li>
                        <a href="learning.html">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.5 13.5C15.5 15.5 13 17 13 18.5H11C11 17 8.5 15.5 8.5 13.5C8.5 11.57 10.07 10 12 10C13.93 10 15.5 11.57 15.5 13.5ZM13 19.5H11V21H13V19.5ZM19 13C19 14.68 18.41 16.21 17.42 17.42L18.84 18.84C20.18 17.27 21 15.23 21 13C21 10.26 19.77 7.81 17.84 6.16L16.42 7.58C17.99 8.86 19 10.82 19 13ZM16 5L12 1V4C7.03 4 3 8.03 3 13C3 15.23 3.82 17.27 5.16 18.84L6.58 17.42C5.59 16.21 5 14.68 5 13C5 9.14 8.14 6 12 6V9L16 5Z" />
                            </svg>
                            Learning Center
                        </a>
                    </li>


                    <li>
                        <a href="invite-user.html">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8 10H5V7H3V10H0V12H3V15H5V12H8V10ZM18 11C19.66 11 20.99 9.66 20.99 8C20.99 6.34 19.66 5 18 5C17.68 5 17.37 5.05 17.09 5.14C17.66 5.95 17.99 6.93 17.99 8C17.99 9.07 17.65 10.04 17.09 10.86C17.37 10.95 17.68 11 18 11ZM13 11C14.66 11 15.99 9.66 15.99 8C15.99 6.34 14.66 5 13 5C11.34 5 10 6.34 10 8C10 9.66 11.34 11 13 11ZM19.62 13.16C20.45 13.89 21 14.82 21 16V18H24V16C24 14.46 21.63 13.51 19.62 13.16ZM13 13C11 13 7 14 7 16V18H19V16C19 14 15 13 13 13Z" />
                            </svg>
                            Invite User
                        </a>
                    </li>


                    <li>
                        <a href="invite-admin.html">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.22 22.61C12.82 22.76 12.42 22.9 12 23C6.84 21.74 3 16.55 3 11V5L12 1L21 5V11C21 11.9 20.89 12.78 20.7 13.65C19.89 13.24 18.97 13 18 13C14.69 13 12 15.69 12 19C12 20.36 12.46 21.61 13.22 22.61ZM19 20V22.99C19 22.99 17.01 23 17 22.99V20H14V18H17V15H19V18H22V20H19Z" />
                            </svg>
                            Invite Admin
                        </a>
                    </li>


                </ul>
            </div>
        </aside>
        <main class="main-area">
            <header class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between">
                                <div class="header-search">
                                    <i class="bi bi-search"></i>
                                    <input type="search" class="" placeholder="search...">
                                </div>
                                <div class="menu-icon"><i class="bi bi-list"></i></div>
                                <div class="d-flex align-items-center">
                                    <div class="px-3 ">
                                        <a href="notifications.html">
                                            <div class="notifications mt-1">
                                                <i class="bi bi-bell-fill header-notification "></i>
                                                <div class="number">
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="d-flex align-items-center user-account ps-2">

                                        <div class="user-icon">
                                            <img src="assets/images/Avatar.png" alt="">
                                        </div>
                                        <div class="dropdown profile-dropdown">
                                            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton1"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                Maxbert
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                                <li><a class="dropdown-item" href="sign-in.html">
                                                        <i class="bi bi-box-arrow-left me-2"></i>Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="main-content">
                <div class="container">
                    <div class="row   mt-lg-3 mt-3">
                        <h1 class="f-30 w-600 text-primary">
                            Paying to user shift
                        </h1>

                        <div
                            class="d-flex justify-content-between  align-items-md-end align-items-center flex-md-row flex-column mt-4 ">
                            <div class="d-flex align-items-center  flex-wrap">
                                <div class="dp-div ">
                                    <img src="assets/images/Avatar.png" alt="" class="dp-img">
                                    <div class="ms-2 d-flex justify-content-start align-items-center flex-wrap">
                                        <div class="d-flex align-items-center">
                                            <h4 class="mb-0 pb-0 f-14">Maria Roselia</h4>
                                            <p class="mb-0 pb-0 w-auto"> / $50.00</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="approved ms-4 mt-md-0 mt-2">Payment Approved</div>
                            </div>

                            <div class="d-flex align-items-center  my-md-0 my-3 ms-auto">
                                <button type="button" class="main-btn-blank text-dark border-dark ">Cancel</button>
                                <button type="button"
                                    class="main-btn-blank ms-3 text-white bg-primary">Approved</button>
                            </div>
                        </div>
                    </div>
                    <hr class="sign-line mt-2">

                    <div class="row">
                        <div class="col-lg-3 mb-3">
                            <div class="pay-card">
                                <h1 class="f-16 w-600 text black">Shift Time</h1>
                                <p class="f-14 w-500 text-gray mb-0 pb-1">Sun May 21, 2023 </p>
                                <p class="f-14 w-500 text-gray mb-0 pb-1">3:30pm – 4pm (PKT) </p>
                                <p class="f-14 w-500 text-gray mb-0 pb-1">2 hours shift </p>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-2">
                            <div class="pay-card">
                                <h1 class="f-16 w-600 text black">User Clock Time</h1>
                                <p class="f-14 w-500 text-gray mb-0 pb-1">Sun May 21, 2023 </p>
                                <p class="f-14 w-500 text-gray mb-0 pb-1">3:30pm – <span class="text-primary">Clock In
                                    </span></p>
                                <p class="f-14 w-500 text-gray mb-0 pb-1"> 4:05pm – <span class="text-primary">Clock
                                        Out</span></p>
                                <p class="f-14 w-500 text-gray mb-0 pb-1">2 hours shift </p>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-2">
                            <div class="pay-card">
                                <h1 class="f-16 w-600 text black">Event Pay</h1>
                                <p class="f-22 w-500 text-primary mb-0 pb-1">$50 </p>
                                <p class="text-perfect mb-0 pb-1">Perfect </p>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-2">
                            <div class="d-flex justify-content-end">
                                <button class="main-btn">View Shift Details</button>
                            </div>
                        </div>
                    </div>

                    <p class="mb-0 pb-0 f-16 w-600 text-primary mt-5">
                        Paying details
                    </p>
                    <hr class="sign-line mt-2">
                    <div class="d-flex align-items-md-center flex-md-row flex-column mb-4">
                        <label for="" class="pay-label">Event Pay:</label>
                        <input type="text" class="pay-input ms-md-2" placeholder="$50">
                    </div>

                    <div class="d-flex align-items-lg-center flex-lg-row flex-column mb-4 w-100">
                        <div class=" align-items-center  mileage-btn " style="display: flex;">
                            <label for="" class="pay-label f-14 w-500 "></label>
                            <div class="d-flex align-items-center cursor-pointer">
                                <svg class="me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM17 13H13V17H11V13H7V11H11V7H13V11H17V13Z"
                                        fill="#CD7FAF" />
                                </svg>

                                Add Mileage
                            </div>
                        </div>
                        <div class="align-items-md-center flex-md-row flex-column  milage-div" style="display: none;">
                            <label for="" class="pay-label">Mileage:</label>
                            <div>
                                <input type="text" class="pay-input ms-2 me-2" placeholder="$50">
                                <svg class="mileage-btn-hide cursor-pointer" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM17 13H7V11H17V13Z"
                                        fill="#CD7FAF" />
                                </svg>

                            </div>
                        </div>

                        <div class="d-flex justify-content-center flex-md-row flex-column mx-md-auto mt-lg-0 mt-3">
                            <div class="d-flex align-items-center f-14 w-500 text-gray">
                                <svg class="me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 2C8.13 2 5 5.13 5 9C5 14.25 12 22 12 22C12 22 19 14.25 19 9C19 5.13 15.87 2 12 2ZM12 11.5C10.62 11.5 9.5 10.38 9.5 9C9.5 7.62 10.62 6.5 12 6.5C13.38 6.5 14.5 7.62 14.5 9C14.5 10.38 13.38 11.5 12 11.5Z"
                                        fill="#CD7FAF" />
                                </svg>
                                Event location
                            </div>
                            <div class="d-flex align-items-center f-14 w-500 text-gray mx-md-4 mx-2 my-md-0 my-3">
                                To
                            </div>
                            <div class="d-flex align-items-center f-14 w-500 text-gray">
                                <svg class="me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 2C8.13 2 5 5.13 5 9C5 14.25 12 22 12 22C12 22 19 14.25 19 9C19 5.13 15.87 2 12 2ZM12 11.5C10.62 11.5 9.5 10.38 9.5 9C9.5 7.62 10.62 6.5 12 6.5C13.38 6.5 14.5 7.62 14.5 9C14.5 10.38 13.38 11.5 12 11.5Z"
                                        fill="#CD7FAF" />
                                </svg>
                                User Location
                            </div>
                            <div class="d-flex align-items-center f-14 w-500 text-gray mx-md-4 mx-2 my-md-0 my-3">
                                =
                            </div>
                            <div class="d-flex align-items-center f-14 w-500 text-gray">
                                Expected Mileage:
                                <span class="text-primary">$50</span>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex align-items-md-center flex-md-row flex-column mb-4">
                        <label for="" class="pay-label">Sales Incentives:</label>
                        <input type="text" class="pay-input ms-md-2" placeholder="$50">
                    </div>

                    <div class="d-flex align-items-md-center flex-md-row flex-column mb-4">
                        <label for="" class="pay-label">Out of pocket expenses:</label>
                        <input type="text" class="pay-input ms-md-2" placeholder="$50">
                    </div>

                    <div class="d-flex align-items-md-center flex-md-row flex-column mb-4">
                        <label for="" class="pay-label">Deductions:</label>
                        <input type="text" class="pay-input ms-md-2" placeholder="$50">
                    </div>


                    <div class="d-flex align-items-md-center flex-md-row flex-column mb-5">
                        <label for="" class="pay-label"></label>
                        <div class="sub-total ms-2">
                            <p class="mb-0 pb-0">Sub Total : <span>$150</span></p>
                        </div>
                        <button type="button" class="border-0 p-0 f-16 w-500 d-flex ms-3 text-black bg-transparent"><svg
                                class="me-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M22 5.17999L10.59 16.6L6.34995 12.36L7.75995 10.95L10.59 13.78L20.59 3.77999L22 5.17999ZM19.79 10.22C19.92 10.79 20 11.39 20 12C20 16.42 16.42 20 12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C13.58 4 15.04 4.46 16.28 5.25L17.72 3.81C16.1 2.67 14.13 2 12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 10.81 21.78 9.67 21.4 8.61L19.79 10.22Z"
                                    fill="#92D700" />
                            </svg>
                            Paid</button>
                    </div>




                </div>
            </div>
        </main>
    </div>
    <div class="overlay"></div>













    <!-- Jquery -->
    <script src="assets/Js/jquery.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
        integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- bootstrap5 -->
    <script src="assets/bootstrap5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="assets/Js/app.js"></script>

    <script>
        $('.mileage-btn').on('click', function () {
            $('.milage-div').css('display', 'flex');
            $(this).css('display', 'none')
        })
        $('.mileage-btn-hide').on('click', function () {
            $('.milage-div').css('display', 'none');
            $('.mileage-btn').css('display', 'flex')
        })
    </script>
</body>

</html>