<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap5 -->
    <link rel="stylesheet" href="assets/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!-- manrop fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Update - Blushed</title>
</head>

<body>
    <div class="sign__frame">
        <div class="sign__frame-left">
            <img src="assets/images/sign-img.png" alt="">
            <div class="sign__frame-left--logo">
                <h1>Blushed</h1>
            </div>
        </div>
        <div class="sign__frame-right sign__frame-right2">
            <div class="sign__frame-right--logo ">
                <img src="assets/images/logo-black.png" alt="">
            </div>
            <form class="sign__frame-right--form">
                <h3 class="f-22 w-700 ">
                    <img src="assets/images/Round-icon.png" alt="">
                </h3>
                <h1 class="f-36 w-600 ">
                    Update your password
                </h1>
                <div class="d-flex align-items-center mb-4 ps-1">
                    <p class="mb-0 pb-0 f-14 w-500 me-2">
                        Enter the code we sent to the phone number ending in -27
                    </p>
                </div>
                <div class="d-flex justify-content-between  w-100 pe-lg-5">
                    <input type="text" class="code-input">
                    <input type="text" class="code-input">
                    <input type="text" class="code-input">
                    <input type="text" class="code-input">
                </div>
                <div class="d-flex w-100 align-items-center justify-content-between my-5 pe-lg-5">
                    <div>
                        <a href="forget-password.html" class="p-0 m-0 f-14 w-600 sign-link text-gray">Back</a>
                    </div>
                    <div>
                        <a href="" class="p-0 m-0 f-14 w-600 sign-link">Don’t receive your code</a>
                    </div>
                </div>

                <hr class="sign-line mb-5">
                <div class="mb-5">
                    <a href="" class="p-0 m-0 f-14 w-600 sign-link">Get your code with another way</a>
                </div>

                <div class="resend-div ">
                    <p class="mb-0 pb-0">Didn’t receive your code? please allow 30 seconds for the message to arrive
                        before requesting another code. Get help</p>
                    <button class="resend-btn ms-3">Resend&nbsp;code</button>
                </div>
            </form>

        </div>
    </div>











    <!-- Jquery -->
    <script src="assets/Js/jquery.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
        integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- bootstrap5 -->
    <script src="assets/bootstrap5/js/bootstrap.min.js"></script>
</body>

</html>