<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap5 -->
    <link rel="stylesheet" href="assets/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!-- manrop fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Update - Blushed</title>
</head>

<body>
    <div class="sign__frame">
        <div class="sign__frame-left">
            <img src="assets/images/sign-img.png" alt="">
            <div class="sign__frame-left--logo">
                <h1>Blushed</h1>
            </div>
        </div>
        <div class="sign__frame-right sign__frame-right2">
            <div class="sign__frame-right--logo ">
                <img src="assets/images/logo-black.png" alt="">
            </div>
            <form class="sign__frame-right--form">

                <h1 class="f-36 w-600 ">
                    Verify your identity
                </h1>
                <div class="d-flex align-items-center mb-4 ps-1">
                    <p class="mb-0 pb-0 f-14 w-500 me-2">
                        Select a way to receive the verification code
                    </p>
                </div>

                <div class="d-flex align-items-start">
                    <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M26.6667 5.83334H5.33335C3.86669 5.83334 2.68002 7.03334 2.68002 8.50001L2.66669 24.5C2.66669 25.9667 3.86669 27.1667 5.33335 27.1667H26.6667C28.1334 27.1667 29.3334 25.9667 29.3334 24.5V8.50001C29.3334 7.03334 28.1334 5.83334 26.6667 5.83334ZM26.6667 11.1667L16 17.8333L5.33335 11.1667V8.50001L16 15.1667L26.6667 8.50001V11.1667Z"
                            fill="#CD7FAF" />
                    </svg>

                    <div class="forget-text ms-3 mb-3">
                        <p class="mb-1 pb-0">Email code to</p>
                        <p class="mb-1 pb-0">maxbert22@email.com</p>
                        <p class="mb-1 pb-0">m****b@d***********e.com</p>
                    </div>

                </div>

                <hr class="sign-line mb-5">

                <hr class="sign-line ">

                <div class="mb-5">
                    <a href="" class="p-0 m-0 f-14 w-600 sign-link">Resend code</a>
                </div>

                <!-- <button class="sign-btn  w-100">Continue</button> -->
                <a href="update-password.html" class="sign-btn  w-100">Continue</a>
            </form>

        </div>
    </div>











    <!-- Jquery -->
    <script src="assets/Js/jquery.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
        integrity="sha512-nnzkI2u2Dy6HMnzMIkh7CPd1KX445z38XIu4jG1jGw7x5tSL3VBjE44dY4ihMU1ijAQV930SPM12cCFrB18sVw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- bootstrap5 -->
    <script src="assets/bootstrap5/js/bootstrap.min.js"></script>
</body>

</html>