.sign__frame {
  // height: 100vh;
  display: flex;
  @media only screen and (max-width: 800px) {
    height: 100%;
  }
  &-left {
    width: 50%;
    height: 100vh;
    position: relative;
    position: fixed;
    @media only screen and (max-width: 991px) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &--logo {
      position: absolute;
      top: calc(50vh - 38px);
      left: 0;
      right: 0;
      height: auto;
      z-index: 100;
      text-align: center;

      h1 {
        color: #fff;
        text-align: center;
        font-size: 76px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 63.158% */
      }
    }
  }
  &-right {
    min-height: 100vh;
    // overflow-y: auto;
    margin-left: auto;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 100px ;
    @media only screen and (max-width: 1200px) {
      padding: 30px 30px;
    }
    @media only screen and (max-width: 991px) {
      padding: 30px 30px;
      width: 100%;
    }
    @media only screen and (max-width: 600px) {
      padding: 40px 15px;
      width: 100%;
      //   min-height: 100%;
      //   height: 100%;
    }
    &--logo {
      position: absolute;
      top: 40px;
      right: 40px;
      @media only screen and (max-width: 600px) {
        top: 20px;
        right: 15px;
      }
    }
    &--form {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      .sign-link {
        text-decoration: none;
        color: #cd7faf;
        &:hover {
          text-decoration: underline;
        }
      }
      .sign-label {
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */
      }
      .sign-input {
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border: none;
        border-bottom: 1px solid #ebeaed;
        border-radius: 0px;
        padding-left: 11px !important;
        padding-right: 0px;
        background-color: transparent;
        &:focus,
        &:active {
          box-shadow: none;
          border-bottom-color: #cd7faf;
          background-color: transparent;
        }
      }
      .form-floating > label {
        padding-left: 0px !important;
        color: #84818a;
        font-size: 14px;
        font-weight: 500;
      }
      .form-select {
        background-image: url("/assets/images/Vector\ \(9\).png") !important;
        background-size: 12px !important;
      }
      .form-floating > .form-control:focus ~ label,
      .form-floating > .form-control:not(:placeholder-shown) ~ label,
      .form-floating > .form-select ~ label {
        transform: scale(0.85) translateY(-0.5rem) translateX(-0.1rem);
      }
      .form-select option {
        margin: 10px !important;
        min-height: 50px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
      #togglePassword {
        position: absolute;
        top: 23px;
        right: 15px;
        color: #84818a;
      }
      .togglePassword{
        position: absolute;
        top: 23px;
        right: 15px;
        color: #84818a;
      }
      .w-48 {
        width: 98%;
      }
      .sign-check-label {
        color: #84818a ;
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        a {
          color: #cd7faf;
          /* Regular Text / 12px / Semibold */
          font-family: Manrope;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
          text-decoration: none;
        }
      }
    }
  }
}
.form-check-input {
  border-color: #cd7faf !important;
}
.form-check-input:checked {
  background-color: #cd7faf !important;
  border: #cd7faf !important;
}
.form-check-input:active,
.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

// ========================================================code inputs
.code-input {
  border: 1px solid #ebeaed;
  width: 78px;
  height: 96px;
  border-radius: 4px;
  font-size: 60px;
  text-align: center;
  border: 1px solid var(--fill-dark-dark-5, #ebeaed);
  background: var(--fill-white-white, #fff);
  @media only screen and (max-width:550px){
    width: 78px;
    height: 86px;
  }
  @media only screen and (max-width:350px){
    width: 58px;
    height: 76px;
  }
  &:focus {
    outline: 1px solid #cd7faf;
    border: 1px solid #cd7faf;
  }
}
.sign-line {
  opacity: .5;
  height: 1px;
  width: 100%;
  border-bottom: 2px solid #EBEAED;
}
.resend-div {
  display: flex;
  border-radius: 4px;
  background: #cd7faf;
  padding: 16px;
  align-items: center;
  @media only screen and (max-width:550px){
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  p {
    color: var(--fill-white-white, #fff);
    font-feature-settings: "clig" off, "liga" off;

    /* Regular Text / 14px / Medium */
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }
}
.resend-btn {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40px;
  border-radius: 4px;
  background: var(--fill-white-white, #fff);
  color: var(--fill-dark-main-dark, #2e2c34);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  @media only screen and (max-width:550px){
    margin-top: 20px;
  }
  /* Regular Text / 14px / Semibold */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px; /* 142.857% */
  border: none;
 
}

.sign__frame-right{
  @media only screen and (max-width:991px){
    width: 500px;
    margin: 0px auto;
  }
  @media only screen and (max-width:550px){
    width: 100%;
    margin: 0px auto;
  }
}
.forget-text p{
  color: var(--fill-dark-main-dark, #2E2C34);
font-feature-settings: 'clig' off, 'liga' off;

/* Regular Text / 16px / Semibold */
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.sign-up-step-2{
display: none;
}
.upload-img-btn{
  display: flex;
width: 142px;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 4px;
border: 1px solid #CD7FAF;
background-color: transparent;
color: #CD7FAF;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Manrope;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 166.667% */
cursor: pointer;
margin-top: 15px;
cursor: pointer;
}

.edit-img{
  width: 108.03px;
height: 108.03px;
flex-shrink: 0;
border-radius: 4px;
background-color: white;
background: linear-gradient(0deg, rgba(#CD7FAF, 0.48) 0%, rgba(#CD7FAF, 0.48) 100%), lightgray 50% / cover no-repeat;
}

.sign-input:focus,
.sign-input:active{
  outline: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel]{
  font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        border: none;
        border-bottom: 1px solid #ebeaed;
        border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: transparent;
        padding-bottom: 10px;

}
.iti__flag-container{
  padding-bottom: 10px !important;
}
.iti__selected-flag{
  padding-left: 0px !important;
}
.remove-picture{
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
}