.filter-row {
  border-radius: 8px;
  background: #fff;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  button {
    display: flex;
    padding: 4px 8px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #cd7faf;
    background-color: transparent;

    color: #cd7faf;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    margin-right: 10px;
    text-transform: capitalize;
    display: flex;
    flex-shrink: 0 !important;
    
    &:hover {
      background: #cd7faf;
      color: white;
    }
    @media only screen and (max-width:600px){
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .applied-filter {
    border-radius: 4px;
    border: 1px solid #cd7faf;
    background: #cd7faf;

    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    text-transform: capitalize;
    display: flex;
    flex-shrink: 0 !important;
  }
}

