
// color classes
.bg-primary{
    background-color: $primary !important;
}
.bg-gray{
    background-color: $gray !important;
}
.bg-gray-light{
    background-color: $gray-light;
}
.text-primary{
    color: $primary !important;
}
.text-black{
    color: $black;
}
.text-gray{
    color: $gray;
}
.text-gray-light{
    color: $gray-light;
}
.text-black{
    color: $black;
}
.pending{
    color: #FFA043;
}
.text-sky{
    color: #20C9AC;
}
// Fonts sizes clases
.f-40{
    font-size: 40px;
}
.f-30{
    font-size: 30px;
}
.f-32{
    font-size: 32px;
    @media only screen and (max-width: 600px) {
        font-size: 22px;
       }
}
.f-36{
    font-size: 36px;
    @media only screen and (max-width: 600px) {
       font-size: 25px;
      }
}
.f-24{
    font-size: 24px;
    @media only screen and (max-width: 600px) {
        font-size: 22px;
       }
}
.f-22{
    font-size: 22px;
    @media only screen and (max-width: 600px) {
        font-size: 18px;
       }
}
.f-20{
    font-size: 20px;
}
.f-18{
    font-size: 18px;
}
.f-16{
    font-size: 16px;
}
.f-14{
    font-size: 14px;
}
.f-12{
    font-size: 12px;
}
.f-10{
    font-size: 10px;
}

// Font Weight Classes
.w-400{
    font-weight: 400;
}
.w-500{
    font-weight: 500;
}
.w-600{
    font-weight: 600;
}
.w-700{
    font-weight: 700;
}
.w-800{
    font-weight: 800;
}

.text-gray{
    color: #84818A !important;
}