.label-blushed{
color:  #504F54;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
}
.input-blushed{
    border-radius: 4px;
border: 1px solid var(--form-11, #EBEAED);
background: var(--fill-white-white, #FFF);
padding: 14px 12px;
color: #84818A;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
@media only screen and (max-width:767px){
    padding: 12px 12px;
  }

&:active,
&:focus{
    box-shadow: none;
    border-color: $primary;
}
}

.form-select {
   
    background-image: url("/assets/images/Vector\ \(9\).png") !important;
    // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 14px 10px;
 
    
}
// .form-select {
//     background-image: url("/assets/images/Vector\ \(9\).png") !important;
//     background-size: 12px !important;
//     background-repeat: no-repeat;

//   }
//   .form-floating > .form-control:focus ~ label,
//       .form-floating > .form-control:not(:placeholder-shown) ~ label,
//       .form-floating > .form-select ~ label {
//         transform: scale(0.85) translateY(-0.5rem) translateX(-0.1rem);
//       }

