// .tab-content-learinig {
//   // padding: 30px;
//   // background-color: white;
//   // @media only screen and (max-width: 767px) {
//   //   padding: 15px;
//   // }
// }

// ==========================================dropzone
.drop-zone {
  // layout.css Style
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  // height: 200px;
  border-width: 2px;
  margin-bottom: 20px;

  // Style
  color: #646c7f;
  border-style: dashed;
  border-color: $primary;
  border-radius: 5px;
  line-height: 200px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px dashed #cd7faf;
  background: rgba(205, 127, 175, 0.1);

  width: 100%;

  &.is-dragover {
    color: #999;
    border-style: solid;
  }

  &.has-images {
    justify-content: flex-start;

    .msg {
      display: none;
    }
  }

  input.has-image {
    opacity: 1;
    width: 0px;
    height: 0;
  }

  input.receiver {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .preview {
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
    margin: 0 5px;
    //   height: 120px;
    border-radius: 5px;

    &:hover {
      .details {
        background-color: transparent !important;
        display: flex;
      }
    }

    img {
      // max-width: 120px;
      // max-height: 120px;
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none; // flex on hover .image
      align-items: center;
      justify-content: center;
    }

    .remove {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: $primary;
      cursor: pointer;

      .fa {
        font-size: 20px;
        color: white;
      }
    }
  }
}
//   .msg{
//     text-align: center;
//     font-size:20px ;
//     font-weight:500;
//     letter-spacing: 0.25px;
//     color: #FF3381;
//     opacity: 1;

//   }
.msg {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    // font-size:20px ;
    // font-weight:500;
    // letter-spacing: 0.25px;
    // color: #FF3381;
    opacity: 1;
    line-height: 10px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    @media only screen and (max-width: 500px) {
      line-height: 17px;
      font-size: 15px;
    }
  }
  .fill-btn {
    width: fit-content !important;
    margin-top: 20px;
    @media only screen and (max-width: 500px) {
      margin-top: 10px;
    }
  }
}
.preview .image {
  height: 100%;
  width: 100%;
}

.quiz-card {
  padding: 10px 5px;
}
.question-div {
  position: relative;
  button {
    position: absolute;
    top: 20px;
    right: 10px;
  }
}
.form-trash {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: 0;
  i {
    &:hover {
      color: red;
    }
  }
}

.form-creation {
  padding: 10px 10px 10px 35px;
  border-radius: 4px;
  border: 1px solid var(--form-11, #ebeaed);
  background: var(--fill-white-white, #fff);
  label {
    width: 100%;
    position: relative;
    input {
      border: none;
      padding: 0px 10px;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
    }
    textarea{
      border: none;
      padding: 0px 10px;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
.add-more-options {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  color: $primary;
}
.add-question {
  display: flex;
  padding: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px dashed #cd7faf;
  background: rgba(205, 127, 175, 0.1);
  font-size: 14px;
  font-weight: 500;
}
